.navbar {
  background-color: darkslategray;
  height: 44px;
  display: flex;
  align-items: center;

  &__left-control {
    width: 80%;
    display: flex;
    align-items: center;
    .icon-container {
      width: 40px;
      .shopping-icon {
        width: 46px;
        height: 24px;
        padding-left: 3px;
        color: white;
      }
    }
    .find-container {
      padding-left: 10px;
    }
  }

  &__right-control {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: flex-end;
    .icon-container {
      width: 100%;
      .list-icon {
        width: 40px;
        height: 28px;
        color: white;
        padding-left: 10px;
      }
    }
  }
}
